body{
  background-image: url("http://unsplash.com/photos/xZd3EUj9fFE/download");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
}

.inside_text{
  font-size: 1em;
}
.carousel {
    height: 600px;
}
.card{
  height: 430px !important;
}
.carousel .carousel-item {
width:300px !important;
}
.space{
  margin-bottom: -40px !important;
}
